<mat-toolbar>
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cash Control</span>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side">
    <mat-nav-list>
        <a mat-list-item routerLink="/">Dashboard</a>
        <a mat-list-item routerLink="/ausgabe">Ausgabe</a>
        <a mat-list-item routerLink="/vergabung">Vergabung</a>
        <a mat-list-item routerLink="/schuld">Schulden</a>
        <a mat-list-item routerLink="/kosten">Kosten</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet />
  </div>
</mat-drawer-container>


