<mat-toolbar>
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cash Control</span>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side">
    <mat-nav-list>
        <a mat-list-item>Menu 1</a>
        <a mat-list-item>Menu 2</a>
        <a mat-list-item>Menu 3</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet />
  </div>
</mat-drawer-container>


