<div class="table-wrap">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Datum -->
    <ng-container matColumnDef="datum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
      <td mat-cell *matCellDef="let a">{{ a.datum | date:'EEE, dd.MM.yyyy' }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Empfänger -->
    <ng-container matColumnDef="empfaenger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empfänger</th>
      <td mat-cell *matCellDef="let a">{{ a.empfaenger }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Text -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
      <td mat-cell *matCellDef="let a">{{ a.text }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Kategorie -->
    <ng-container matColumnDef="kategorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategorie</th>
      <td mat-cell *matCellDef="let a">
        <mat-chip-set class="chipset">
          <mat-chip>{{ a.kategorie }}</mat-chip>
        </mat-chip-set>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Betrag -->
    <ng-container matColumnDef="betrag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="right">Betrag</th>
      <td mat-cell *matCellDef="let a" class="right">
        {{ a.betrag }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="ausgabe-row" (click)="selectRow(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,50]" showFirstLastButtons></mat-paginator>
</div>
