<div class="table-wrap">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Jahr -->
    <ng-container matColumnDef="jahr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jahr</th>
      <td mat-cell *matCellDef="let k">{{ k.jahr }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Art -->
    <ng-container matColumnDef="art">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Art</th>
      <td mat-cell *matCellDef="let k">
        <mat-chip-set class="chipset">
          <mat-chip>{{ k.art }}</mat-chip>
        </mat-chip-set>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Zahlender -->
    <ng-container matColumnDef="zahlender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zahlender</th>
      <td mat-cell *matCellDef="let k">{{ k.zahlender }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Empfänger -->
    <ng-container matColumnDef="empfaenger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empfänger</th>
      <td mat-cell *matCellDef="let k">{{ k.empfaenger }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Bezahler -->
    <ng-container matColumnDef="bezahler">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bezahler</th>
      <td mat-cell *matCellDef="let k">{{ k.bezahler }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Bemerkung -->
    <ng-container matColumnDef="bemerkung">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bemerkung</th>
      <td mat-cell *matCellDef="let k">{{ k.bemerkung }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Betrag -->
    <ng-container matColumnDef="betrag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="right">Betrag</th>
      <td mat-cell *matCellDef="let k" class="right">
        {{ k.betrag }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="kosten-row" (click)="selectRow(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,50]" showFirstLastButtons></mat-paginator>
</div>
